/* variables.css */
:root {
    --primary-color: #D4EBF8;
    --text-color: #1F509A;
    --button-color: #0A3981;
    --button-hover-color: #0A3981;
    --complement-color: #E38E49;
    --white-color: #FFFFFF;
}