@import "../../styles/variables.css";

.container {
    width: 100%;
    height: 100%;
    padding-bottom: 200px;

    .goBackButton {
        margin-left: 30px;
        font-size: 1rem;
        // background-color: white;
        // color: var(--text-color);
        // border: var(--text-color) 2px solid;

        @media (max-width: 1000px) {
            display: none;
        }
    }

    .actionButtons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        .editDelete {
            display: flex;
            flex-direction: row;
            justify-content: right;
            gap: 5px;
            margin-right: 20px;
        }
    }

    .tripDetailInfoContainer {
        margin-top: 50px;

        @media (max-width: 768px) {
            margin-top: 0;
        }
    }
}

.errorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    div {
        flex-direction: column;
    }
}