.editButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-inline: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.editButton {
    background-color: var(--text-color);
    color: white;
}