.deleteButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-inline: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.deleteButton {
    background-color: red;
    color: white;
}

.deleteButton:hover {
    background-color: darkred;
}